@import '../../vendors/normalize.min.css';
@import "variables";
@import "mixins";


html, body {
  font-family: 'Arial', sans-serif;
}

// Header Styles
.head {
  @include flexbox_styles(row, space-between, flex-start);
  margin: 10px 20px;

  &__logo {
    width: $logo-width;
  }

  &__title {
    font-size: 1.2em;
  }

  &__languages {
    &__language--active {
      border-bottom: 1px solid $black;
    }
  }
}

// Header Navbar Styles
.navbar {
  @include flexbox_styles(row, center, center);
  
  &__list {
    @include flexbox_styles(row, space-between, center);
    list-style-type: none;
    font-weight: bold;

    &__item {
      margin-right: 25px;

      &__link {
        padding: 10px;
        color: $black;
        text-decoration: none;
      }

      &__link:hover {
        background-color: lighten($pink-border-color, 10%);
        color: $white;
      }

      &__link--active {
        text-decoration: underline;
      }
    }
  }
}

.hero {
  width: 100%;
}

// Main Article Styles
.article {
  width: 90%;
  margin: 0px auto;

  &__personal {
    background-color: $personal-bg;   
    @include flexbox_styles(row, flex-start, center);
    padding: 15px 25px;
    border-bottom: 2px solid $pink-border-color;

    &__image {
      border-radius: 50%;
      margin-right: 15px;
      width: 90px;
      height: 90px;
    }

    &__description {
      font-size: .9em;
    }
  }

  &__definition {
    padding-bottom: 15px;
    border-bottom: 2px solid $pink-border-color;
    font-size: 1.2em;
  }

  &__parcelinfo {
    font-size: 1em;
  }

  &__video {
    text-align: center;

    &__title {
      font-size: .7em;
      margin: 0px auto;
    }
    
    &__iframe {
      height: 600px;
    }

  }

}

// Footer Styles
.footer {
  background-color: $footer-bg;
  color: $white;
  @include flexbox_styles(column, center, center);
  text-align: center;
  padding: 40px 10px;

  &__logo {
    width: $logo-width;
  }

  &__title {
    font-size: 1.2em;
  }

  &__details {
    font-size: .8em;
    text-align: center;

    p {
      margin: 5px 0px;
    }
  }

  &__social {
    @include flexbox_styles(row, center, center);
    
    &__list {
      @include flexbox_styles(row, space-between, center);
      min-width: 100px;
      margin: 15px 0px;
      padding: 0px;
      list-style-type: none;

      &__item {
        &__link {
          padding: 10px;
        }
        &__link__logo {
          width: 12px;
          height: 12px;
        }

        &__link:hover {
          background-color: $pink-border-color;
        }
      }
    }
  }

  &__nav__list {
    @include flexbox_styles(row, space-between, center);
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    
    &__item {
      margin-right: 25px;
      
      &__link {
        padding: 10px;
        color: $white;
        text-decoration: none;
        font-size: .8em;
      }

      &__link:hover {
        background-color: lighten($pink-border-color, 10%);
        color: $white;
      }
    }
  }

  & > p {
    margin: 0px;
    font-size: .7em;
  }
}

// Media Queries
@media screen and (min-width: 1280px) {
  .article__video__iframe {
    height: 750px;
  }
}

@media screen and (max-width: 768px) {
  .article__video__iframe {
    height: 400px; 
  }

  .head {
    @include flexbox_styles(column, center, center);
    
    &__title {
      order: 2;
    }

    &__logo {
      order: 3;
    }

    &__languages {
      order: 1;
    }
  }

  .navbar__list {
    @include flexbox_styles(column, center, center);
    margin-top: 10px;
    padding: 0px;

    &__item {
      margin: 5px 0px;
    }
  }

  .footer__nav__list {
    margin-top: 10px;
    padding: 0px;
    @include flexbox_styles(column, center, center);

    &__item {
      margin: 5px 0px;
    }
  }
}